*{
    border: none;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    flex-direction: column;
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 300px;
    border: 2px solid white;
}

.grid-elements {
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-elements img {
    width: 95%;
    height: 95%;
}

.result {
    display: flex ;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 10px;
}

.result img {
    height: 40px;
}

#reset {
    cursor: pointer;
}